*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}

  html {
    scroll-behavior: smooth;
  }
  
  .register-page{
    height: 100vh;
    width:100vw;
    background:url('https://i.pinimg.com/originals/3a/24/22/3a2422ede9e44045cc827135a37cfde8.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
  }
  
  main{
    flex:8;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-nav{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: min(6vh,120px);
    background:linear-gradient(to right,rgb(14, 14, 14),rgb(235, 22, 22),rgb(1, 91, 91));
    color: white;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: large;
  }
  
  

  .project-name{
    padding-left: 10px;
    font-size:2rem;
  }
  
  
  main >*{
    z-index: 0;
    position: relative;
  }
  
  .hero-text{
    position: absolute;
    font-size: min(7vw,80px);
    color: white;
    font-weight: bold;
    top:10vh;
    text-shadow: 1px 1px 5px black;
    z-index:1;
  }

  .login-form{
    height: 40%;
    width: 40%;
    display: flex;
    flex-direction: column;
  }

  .login-form > form{
    height: 100%;
    width: 100%;
    /* background:linear-gradient(135deg,rgba(220, 20, 60, 0.528),red); */
    background: linear-gradient(to bottom right, rgba(0,0,0,0.7), rgba(220,20,60,0.7), rgba(255,255,255,0.1));

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
    border-radius: 15px;
  }

  form > div{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 2%;
  }
  
  form > div > label{
    height: 50%;
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
  }
  form > div > input{
    min-width: 0;
    height: 60%;
    flex:1;
    margin-right: 10%;
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 2px;
    border: none;
  }



  form > input,label{
    color: white;
  }

  form > button{
    all:unset;
    width: 20%;
    height: 10%;
    color: rgb(12, 11, 11);
    font-weight: bold;
    font-size: 2rem;
    background: linear-gradient(to right,lightblue,lightpink);
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    padding: min(1vh,1vw);
    border-radius: 15px;
  }